
.registercontainer{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.contentregistercontainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

@media (min-width: 650px ) {
    .registercontainer {
        background-position: center center;
    }

    .contentregistercontainer {
        align-items: flex-end;
        justify-content: center;
    }
}