.card-deck{
    margin: 20px;
}
p{
    text-align: left;
    color: gray !important;
}
.card-img-top {
    width: 50%;
    align-self: center;
}
.flexx{
    display:block;
}

.title{
    color: white;
}
/* .tag{
    color:white
}
.Posttitle{
    color:white !important;
} */

.todo{
    display: flex;
    text-align: center;
    margin: 20px;
}
.imagenlista{
    width: 30%;
    align-items: center;
    margin:10px;
    align-self: center;
}
.contenidopreview{
    width: 60%;
    margin:20px;
    text-align:center;
}
/* .container{
    margin: 40px;
} */
.mypostscontainer{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.contentmypostscontainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

@media (min-width: 650px ) {
    .mypostscontainer {
        background-position: center center;
    }

    .contentmypostscontainer {
        align-items: flex-end;
        justify-content: center;
    }
}